* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;

  background: linear-gradient(
    135deg,
    #7F5AF0,
    #5B8CFF
  );

  height: 100vh;
}

/* Layout */
.app {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  width: 220px;
  border-radius: 20px;
  padding: 24px;

  background: linear-gradient(
    180deg,
    #6C63FF,
    #4F46E5
  );

  color: white;

  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    margin-right: -80px;
  padding-right: 50px;
  z-index: 15;
  box-shadow: 10px 0 20px rgba(0,0,0,0.05);
}

.logo {
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 20px;
}

nav a {
  position: relative;
  padding: 12px 18px;
  border-radius: 14px;
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: 0.2s;
}

/* ACTIVE EFFECT */
nav a.active {
  background: white;
  color: #4F46E5;
  font-weight: 600;

  /* ยื่นออกไปทางขวา */
  margin-right: -80px;
  padding-right: 50px;
  z-index: 15;
  box-shadow: 10px 0 20px rgba(0,0,0,0.05);
}
nav a:hover {
  background: rgba(255,255,255,0.15);
}



/* Content */
.content {
  flex: 1;
  background: white;
  border-radius: 0 24px 24px 0;
  padding: 60px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.08);
}

/* Hero Section */
.hero h1 {
  margin: 60px;
  font-weight: 500;
  color: #555;
}

.revenue {
  font-size: 42px;
  font-weight: 700;
  margin-top: 10px;
}

.growth {
  font-size: 16px;
  color: #22C55E;
  margin-left: 12px;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.card {
  flex: 1;
  background: #F8FAFC;
  padding: 24px;
  border-radius: 16px;
  font-size: 14px;
  color: #555;
}

.card strong {
  font-size: 22px;
  display: block;
  margin-top: 8px;
  color: #111;
}
